.create-node-block.left{
  width: 40%;
  float: left;
  padding-left:5%;
}

.create-node-block.right{
  width: 40%;
  float: right;
  padding-right:5%;
}

.create-node-block dt{
  font-size: 110%;
  font-weight: bold;
}

.create-node-block dd{
  font-size: 90%;
  padding-left: 15px;
}
